body { 
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
}

/* * {
    color: hsl(0, 0%, 7%);
} */

.container{ 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inside-container { 
    background-color:  hsl(0, 0%, 100%);
    width: 384px;
    height: 522px;
    border: black 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 9px 0px -1px rgba(0,0,0,1);
    -webkit-box-shadow: 10px 9px 0px -1px rgba(0,0,0,1);
    -moz-box-shadow: 10px 9px 0px -1px rgba(0,0,0,1);
}

#illustration {
    border-radius: 10px;
    margin-bottom: 10px;
    /* position: absolute; */
    /* position: relative; */
    /* bottom: 125px; */
}

.learning { 
    padding: 5px 15px 8px;
    font-weight: 800;
    font-size: 14px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    margin-bottom: 15px;
}

.inside {
    /* background-color: black; */
    background-color: none;
    width: 337px;
    height: 227px;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 12px;
}

.title { 
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0 15px;
}

.account {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-items: center;
}
#profile {
    width: 32px;
    height: 32px;
}
#description {
    color: hsl(0, 0%, 50%);
    margin-bottom: 10px
}
.name { 
    margin-left: 15px;
    font-weight: 800;
    font-size: 14px;
}

.attribution {
    margin-top: 50px;
}